# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/

# Dependency directories
node_modules/

# Bower dependency directory (https://bower.io/)
bower_components

