html {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}
header {
    text-align: center;
    background-color: darkslategray;
    height: 100px;
    color: white;
}

h1 {
    margin: 0;
    padding-top: 25px;
}

section {
    text-align: center;
}

table {
    width: 90%;
    margin: 50px auto;
}

td {
    display: inline-block;
    width: 15px;
}

footer {
    padding-top: 15px;
    margin-top: 20px;
    background-color: darkslategray;
    height: 100px;
    text-align: center;
    color: white;
}